.quizzPage {
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    gap: var(--spacing-xl);
}
.empty {
    flex: 0.7;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 150px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.heroSection {
    width: 100%;
}
.quizzHeader {
    display: flex;
    flex: 1.3;
    flex-direction: column;
}
.quizzContainer {
    width: 100%;
    flex: 1;
}
.quizzTitle {
    font-size: var(--font-size-h1);
    font-weight: bold;
    font-family: var(--font-base);
    color: var(--text-secondary);
    margin-bottom: var(--spacing-lg);
}

.sessionInfos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: var(--spacing-lg);
}

.sessionInfosCard {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 5%;
    font-family: var(--font-base);
    color: var(--text-secondary);
    border: solid 2px var(--ic-primary);
    border-radius: var(--border-radius);
    margin: var(--spacing-md);
    padding: var(--spacing-lg);
}
.infosTitle {
    font-size: var(--font-size-link);
    font-weight: bold;
    color: var(--text-secondary);
    margin-bottom: var(--spacing-sm);
}
.infosMode {
    margin-bottom: var(--spacing-xs);
    text-align: left;
}
.infosTotal {
    text-align: left;
    margin-bottom: var(--spacing-xs);
}
.infosScore {
    text-align: left;
    margin-bottom: var(--spacing-xs);
}
.buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: var(--spacing-lg);
}

.questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: solid 2px var(--ic-primary);
    border-radius: var(--border-radius);
    padding: var(--spacing-lg) var(--spacing-xl);
    margin-bottom: var(--spacing-md);
}
.questionContainer p {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: var(--spacing-md);
    font-family: var(--font-base);
    font-size: var(--font-size-p);
    margin-bottom: var(--spacing-sm);
}
.questionContainer p svg {
    font-size: var(--font-size-h1);
    color: var(--solid-secondary);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.answerButtons {
    border: solid 2px var(--ic-primary);
    width: 100%;
    margin: var(--spacing-xs);
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-md);
    justify-content: start;
    cursor: pointer; 
}

.answerButtons:hover {
    background-color: var(--ic-secondary);
    color: var(--text-primary);
}

.optionLabel {
    border: solid 1px var(--ic-primary);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius);
    background-color: var(--ic-primary);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.feedback {
    font-size: 20px;
    font-weight: bold;
}

.action {
    font-size: var(--font-size-h2);
    margin-bottom: 20px;
    color: var(--text-secondary);
    text-align: left;
    width: 100%;
    font-family: var(--font-base);

}
.correct {
    color: #2ecc71;
}

.incorrect {
    color: #e74c3c;
}

.rules {
    max-width: 600px;
    text-align: center;
    margin: auto;
    font-family: var(--font-base);
    color: var(--text-secondary);
}

.title {
    font-size: var(--font-size-h1);
    margin-bottom: var(--spacing-xl);
    color: var(--solid-secondary);
    font-family: var(--font-base);

}

.rulesList {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;

}

.rules p {
    font-size: var(--font-size-h2);
}

.rulesList li {
    margin-bottom: 10px;
    font-size: var(--font-size-h2);
}

.startButton {
    background-color: #007bff;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.startButton:hover {
    background-color: #0056b3;
}

.modeSelector {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-around;
    font-size: var(--font-size-p);
    font-family: var(--font-base);
}

.modeSelector label {
    font-weight: bold;
    font-size: var(--font-size-p);
}

.modeSelector select {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 8px;
    background-color: var(--ic-primary);
    color: var(--text-secondary);
    cursor: pointer;
    transition: border-color 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    /* Pour Safari/Chrome */
    -moz-appearance: none;
    color: var(--text-secondary);
    filter: drop-shadow(0 0 1em rgba(59, 121, 246, 0.15));
    transition: var(--transition-default);
}

.modeSelector select:focus {
    outline: none;
}


.modeSelector select:hover {
    background-color: var(--ic-tertiary);
    color: var(--text-primary);
}

.buttonContainer {
    margin-top: calc(var(--spacing-xl) * 2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.progressContainer {
  width: 100%;
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-md);
  border: 2px solid var(--ic-primary);
  border-radius: var(--border-radius);
}

.progress {
  margin-bottom: var(--spacing-sm);
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
  align-items: center;
  justify-content: space-between;
}
.progressSoftware {
    width: 50px;
    height: 50px;
}
.progressBarBackground {
  width: 100%;
  height: 10px;
  background-color: var(--text-secondary);
  border-radius: 5px;
  overflow: hidden;
}

.progressBarFill {
  height: 100%;
  background-color: var(--solid-secondary); /* tu peux changer la couleur */
  transition: width 0.3s ease-in-out;
}


@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.historySection {
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.historySection::-webkit-scrollbar {
  display: none;
}
.history ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history li {
    width: 100%;
    animation: fadeSlideIn 0.4s ease forwards;
    padding: var(--spacing-sm);
    border: solid 2px var(--ic-primary);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-xs);
    transition: all 0.3s ease;
}

.groupHeader {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-xs);
    transition: all 0.3s ease;

}
.groupHeader button svg {
    font-size: var(--font-size-h2);
    color: var(--solid-secondary);
    transition: all 0.3s ease;
    margin-left: var(--spacing-xs);
}

.history h2 {
    font-size: var(--font-size-h2);
    font-weight: bold;
    color: var(--text-secondary);
    margin-bottom: var(--spacing-sm);
}


.history li ul li.incorrect {
    background-color: var(--color-error);
    color: var(--text-secondary);
}
.history li ul li.correct {
    background-color: var(--color-success);
    color: var(--text-secondary);
}

.endScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: var(--spacing-lg);
}

.endScreen h1 {
    width: 100%;
    text-align: left;
    margin-bottom: var(--spacing-md);
}
.endScreen p {
    width: 100%;
    text-align: left;
    margin-bottom: var(--spacing-md);
}

.historyEndSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.scoreContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: var(--spacing-lg);
}

.scoreCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-md);
    border: solid 2px var(--ic-primary);
    border-radius: var(--border-radius);
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    font-family: var(--font-base);
}
.scoreCard svg {
    font-size: var(--font-size-h1);
    color: var(--solid-secondary);
    margin-left: var(--spacing-sm);
}
.scoreCard p {
    margin-bottom: 0;
}