.PieCharts {
    width: 100%;
    height: 100%;
}

.legend {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    width: 100%;
}
.legendItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    border-radius: 8px;
}