@import '../../../styles/variables.css';

.button {
    font-family: var(--font-family-base);
    font-size: var(--font-size-p);
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition-default);
    width: fit-content;
    font-family: var(--font-base);
    filter: drop-shadow(0 0 1em rgba(59, 121, 246, 0.15));
    height: fit-content;
}

.primary {
    background-color: var(--ic-primary);
    color: var(--text-secondary);
}

.primary:hover {
    background-color: var(--ic-tertiary);
    color: var(--text-primary);
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.secondary:hover {
    background-color: #f0c000;
}