.pageTest {
    margin-left: 550px;
    margin-top: 100px;
    border: 1px solid red;
    width: 300px;
    height: 350px;
    display: flex;
    padding: 20px;
    
}
.crowd {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.crowd svg {
    width: 120px;
    height: 120px;
}

.avatar {
    position: absolute;
}

.avatar:nth-child(1) {
    top: 30%;
    left: 25%;
    z-index: 10;
}
.avatar:nth-child(2) {
    top: 20%;
    left: 13%;
    z-index: 9;
}
.avatar:nth-child(3) {
    top: 20%;
    left: 38%;
    z-index: 9;

}
.avatar:nth-child(4) {
    top: 10%;
    left: 0%;
    z-index: 8;

}
.avatar:nth-child(5) {
    top: 10%;
    left: 50%;
    z-index: 8;

}
.avatar:nth-child(6) {
    top: 0%;
    left: 13%;
    z-index: 7;
    

}
.avatar:nth-child(7) {
    top: 0%;
    left: 38%;
    z-index: 7;


}
.avatar:nth-child(8) {
    top: 20%;
    left: 25%;
    z-index: 7;

}
.avatar:nth-child(9) {
    top: 20%;
    left: 20%;
    display: none;
    z-index: 10;

}
