.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: column;
    width: var(--sidebar-w);
    height: 100vh;
    align-items: center;
    /*padding: 1rem;
    /* Utilisation de la couleur d'arrière-plan */
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    font-size: var(--font-size-link);
    font-family: var(--font-heading);
    left: 0;
    z-index: 1000;
}
.button_header {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 12%;
    height: 5vh;
    background-color: var(--border-primary);
    border-radius: 0px 8px 8px 0px;
}

.logo {
    margin-top: var(--spacing-lg);
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: fit-content; 
    height: fit-content;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--solid-primary);
    /* Logo color (couleur primaire) */
}
.logoImage { 
    width: 100px; 
    height: 100px; }



.nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

.nav ul {
    display: flex;
    /*gap: 20px;*/
    list-style: none;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    
}
.nav ul li:first-child::before { 
    content: "";
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 1px; 
    background-color: var(--border-primary);
    filter: blur(1px);
}
.nav ul li {
    list-style: none;
    display: flex;
    padding: var(--spacing-lg) 0;
    justify-content: flex-start;

}
.nav ul li::hover {
    background-color: red;
    transform: scale(2);

}
.nav ul li::after {
    content: ""; 
    position: absolute; 
    bottom: 0; left: 0; 
    width: 100%; 
    height: 1px; 
    background-color: var(--border-primary); 
    filter: blur(1px); 
} 
    
.nav ul li:last-child::after {
    content: ""; 
    position: absolute; 
    bottom: 0; left: 0; 
    width: 100%; 
    height: 1px; 
    background-color: var(--border-primary); 
    filter: blur(1px);

}
.nav a {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    margin-left: var(--spacing-md);
    transition: all 0.3s ease;
    
}



.nav a.active {
    color: var(--solid-primary);
}
.nav a svg {
    color: var(--text-secondary);
    transition: all 0.3s ease;
}
.nav a.active svg {
    color: var(--solid-secondary);
}
.nav a:hover {
    color: var(--solid-primary);
    & svg { 
    color: var(--solid-primary); 
    }
}









.loginRegister {
    position: fixed;
    top: 5%;
    right: 5%;
}

.avatarContainer {
    position: relative;
    cursor: pointer;
    display: flex; align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.avatar {
    font-size: 24px;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    border: 1px solid var(--border-primary);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.dropdown a {
    padding: 0.5rem;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    color: inherit;
}

.dropdown a:hover {
    background-color: #f0f0f0;
    color: var(--bg-primary);
}