.container {
    padding: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--text-primary);
    text-align: center;
}

.raccourcisList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

.raccourciCard {
    background-color: var(--bg-primary);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.raccourciAction {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.category {
    display: inline-block;
    width: fit-content;
    background-color: var(--border-primary);
    color: var(--text-secondary);
    padding: 0.25rem 0.75rem;
    border-radius: 20px;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.platform {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--bg-tertiary);
    padding: 0.5rem;
    border-radius: 5px;
}

.platformTitle {
    font-weight: bold;
    margin-right: 0.5rem;
    color: var(--text-secondary);
}

.description {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-primary);
}

@media (max-width: 768px) {
    .raccourcisList {
        grid-template-columns: repeat(1, 1fr);
    }
}